* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/m.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 300px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #ff004f;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}


/* About Section */
#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
    max-width: 100%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 20px;
    /* height: 750px; */
}

.about-col-2 {
    flex-basis: 60%;
    font-size: 18px;
    margin-top: 20px; 
    padding-left: 20px;
}

.about-col-2 p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-bottom: 20px;
}

.sub-title {
    font-size: 40px; 
    font-weight: 600;
    color: #ff004f;
}

.tab-titles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 40px;
    font-size: 24px; 
    color: #ff004f;
}

.tab-links {
    font-size: 25px;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}


.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 20px;
    font-weight: bolder;
}

/* Services Section */
#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div p {
    font-size: 20px;
}

.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}


/* Portfolio Section */
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    max-height: 100%; /* Added max-height to prevent images from overflowing */
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px; /* Adjusted padding for smaller screens */
    text-align: center;
    font-size: 15px; /* Reduced font size for smaller screens */
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 10px; /* Adjusted margin for smaller screens */
}

.layer a {
    margin-top: 10px; /* Adjusted margin for smaller screens */
    color: #da9fb1;
    text-decoration: none;
    font-size: 14px; /* Reduced font size for smaller screens */
    padding: 8px 15px; /* Adjusted padding for smaller screens */
    border: 2px solid #da9fb1;
    border-radius: 5px;
    transition: background 0.5s, color 0.5s;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 20px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 30px; /* Adjusted padding for smaller screens */
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .work-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column size for smaller screens */
        grid-gap: 20px; /* Adjust grid gap for smaller screens */
    }

    .layer {
        padding: 0 10px; /* Further adjusted padding for smaller screens */
        font-size: 12px; /* Reduced font size for smaller screens */
    }

    .layer h3 {
        margin-bottom: 8px; /* Further adjusted margin for smaller screens */
    }

    .layer a {
        margin-top: 8px; /* Further adjusted margin for smaller screens */
        font-size: 11px; /* Further reduced font size for smaller screens */
        padding: 6px 12px; /* Further adjusted padding for smaller screens */
    }

    .btn {
        padding: 12px 25px; /* Further adjusted padding for smaller screens */
    }
}

/* Contact me section */
#contact {
    padding: 80px 0;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-left h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #ff004f;
}

.contact-left p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5px;
}

.social-icons a:hover {
    color: #ff004f ;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    color: #fff;
}

.btn.btn2 {
    display: inline-block;
    color: #fff;
    background-color: #000000;
}

.btn.btn2:hover {
    background: #ff004f;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    flex: 1;
    text-align: center;
    padding: 25px 0;
    background: #080808;
    font-weight: 300;
    margin-top: 20px;
}

/*Back to Top Button*/
.back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.back-to-top-btn:hover {
    background-color: #555;
}

.back-to-top-btn i {
    font-size: 20px;
}


/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    nav ul li {
        margin-right: 10px;
    }

    .header-text {
        margin-top: 10%;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
        text-align: center;
    }

    .about-col-1 img {
        max-width: 50%;
    }

    .services-list {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .work-list {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

#msg {
    color: #ff004f;
    margin-top: -5px;
    display: block;

}

/* Media query for smaller screens */
@media (max-width: 768px) {
    /* Navigation bar title words */
    #header ul li a {
        font-size: 16px; /* Adjust the font size as needed */
    }

    /* Reduce the size of the image in the About Me section */
    .about-col-1 img {
        max-height: 300px; /* Adjust the maximum height as needed */
    }
}

@media (max-width: 768px) {
    .about-img {
        display: none;
    }
}

@media (max-width: 477px) {
    .tab-title {
        font-size: 14px; /* Adjust the font size as needed */
        padding: 5px 10px; /* Adjust the padding as needed */
    }
    
    /* Ensure that the tab titles don't wrap */
    .tab {
        white-space: nowrap;
    }
}